body{
    text-align: center;
}
.box-container{
    display: flex;
    justify-content: center;
    
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 2px solid black;
    margin: 10px;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.blue{
    background-color:rgb(220, 22, 220);

}
.flash{
    background-color: white;
}
.bba{
    background-color: wheat;
}